<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News and Image</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
        margin-top: 20px;
      }

      form {
        text-align: center;
        margin-bottom: 20px;
      }

      button[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #45a049;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 60%; /* Уменьшаем размер изображения до 80% от ширины контейнера */
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <h1>Top Headlines</h1>
    <ul>
      <% headlines.forEach(headline => { %>
      <li><%= headline.title %></li>
      <% }); %>
    </ul>

    <h1>Random Image</h1>
    <img src="<%= imageUrl %>" alt="Random Image" />
    <form action="/auth/logout" method="GET">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
